@import  '../../node_modules/material-design-icons/iconfont/material-icons.css'

@require '~vuetify/src/stylus/settings/_variables.styl'
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

.secondary-bg
  background-color: #f8f8f8

.toolbar
  background-color: transparent !important
  box-shadow: none
  position: absolute

  nav.nav-menu ul li
    display: inline-block

    a
      color: rgba(255,255,255,.65)
      font-weight: 700
      line-height: 1.9
      text-transform: uppercase
      font-family: Roboto,sans-serif
      font-size: 13px
      padding: 20px 15px 15px
      letter-spacing: .6px
      justify-content: center
      flex: 1 0 auto
      display: flex
      text-decoration: none

      &.is-active
        color: white

  &.sticky-toolbar
    position: fixed
    background-color: #333 !important
    transition: background .5s

    nav.nav-menu ul li a
      color: rgba(255,255,255,.65)
      &.is-active
        color: #fff
        border-bottom: 5px solid #ff5252

section#twitter
  .parallax__content
    background: rgba(35, 35, 40, 0.8)

footer.main-footer
  .footer-top
    background-color: #232328;
