@import  '../../node_modules/material-design-icons/iconfont/material-icons.css'
@import '../../node_modules/@mdi/font/css/materialdesignicons.css'

@require '~vuetify/src/stylus/settings/_variables.styl'
@require '~vuetify/src/stylus/main.styl'

@require 'header.styl'
@require 'main.styl'
@require 'footer.styl'
