@import  '../../node_modules/material-design-icons/iconfont/material-icons.css'

@require '~vuetify/src/stylus/settings/_variables.styl'
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition
