@import '~material-design-icons/iconfont/material-icons.css'
@import '~@mdi/font/css/materialdesignicons.css'

@require '~vuetify/src/stylus/settings/_variables.styl'
@require '~vuetify/src/stylus/main.styl'

@require 'header.styl'
@require 'main.styl'
@require 'footer.styl'

@require 'education.styl'
